body{
    background-color:lightslategray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
h1{
    text-align: center;
    font-style: unset;
}
p{
    text-align: center;
    font-style:unset
}


h1 { color: crimson;
    font-style: unset;
}
.hola{
    color: green;
    font-style: unset;
}

#img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    }
    
    .fab:hover {
    opacity: 0.7;
    }
    
    .fa-whatsapp {
    background: #45bbff;
    color: white;
    }

    #footer{
        max-width: 1000px;
        background-color: rgb(202, 106, 106);
        margin: auto;
        border-radius: 0 0 20px;
        color:black;
        text-align: center;
        padding: 30px;
        box-sizing: border-box;
        font-family: Arial;
        font-size: 18px;
    }
    
   
   