<<<<<<< HEAD
body{
    background-color:peachpuff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    font-style:inherit;
}


h1 { color: crimson;
=======
h1, p,h2 { color: crimson;
>>>>>>> c0195ad2f412e997e883f93988204bfa7c16492d
}
.hola{
    color: green;
}

#img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
